<div class="row">
  <div class="col-sm-4">

    <h2>Login</h2>

    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <div class="form-group">
        
          <label for="mail" class="control-label">Email: </label>
          <input formControlName="email" id="email" class="form-control" type="text" maxlength="100" placeholder="john.smith@gmail.com">
          <span *ngIf="isValid('email') && !isRequired('email')" class="help-block"> Please enter a valid email!</span>
          <span *ngIf="isRequired('email')" class="help-block"> This field is required!</span>

          <label for="password" class="control-label">Password: </label>
          <input formControlName="password" id="password" class="form-control" type="password" maxlength="30" placeholder="**********">        
          <span *ngIf="isValid('password')" class="help-block"> Please enter a password!</span>

          <button [disabled]="isValid('email') || isValid('password') 
               || loginForm.get('email').value === null || loginForm.get('password').value === null " type="submit" class="btn btn-primary">Send</button>
      </div>
    </form>
  </div>
</div>