<div class="row">
  <div class="col-sm-4">

    <h2>Login</h2>

    <form [formGroup]="loginForm" (ngSubmit)="onSend()">
      <div class="form-group">
        
          <label for="mail" class="control-label">Email: </label>
          <input formControlName="email" id="email" class="form-control" type="text" maxlength="100" placeholder="john.smith@gmail.com">
          <span *ngIf="isValid('email')" class="help-block"> Please enter a valid email!</span>

          <label for="password" class="control-label">Password: </label>
          <input formControlName="password" id="password" class="form-control" type="password" maxlength="30" placeholder="**********">        
          <span *ngIf="isValid('password')" class="help-block"> Please enter a password!</span>

          <button type="submit" class="btn btn-primary">Send</button>
      </div>
    </form>
  </div>
</div>