<div class="row">
  <div class="col-sm-4">

    <h2>Login</h2>

    <form formGroup="">
      <div class="form-group">
        
          <label for="login" class="control-label">Email: </label>
          <input id="login" class="form-control" type="text" maxlength="100" placeholder="john.smith@gmail.com">

          <label for="password" class="control-label">Password: </label>
          <input id="password" class="form-control" type="password" maxlength="30" placeholder="***********">        

          <a class="btn btn-primary">Send</a>
      </div>
    </form>
  </div>
</div>