<div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      
      <h2>Sign Up</h2>
  
      <form [formGroup]="signupForm" (ngSubmit)="onSigup()">
        <div class="form-group">

            <label for="firstName" class="control-label">First Name: </label>
            <input formControlName="firstName" id="firstName" class="form-control" type="text" maxlength="50" placeholder="John Enry">
            <span *ngIf="isRequired('firstName')" class="help-block"> This field is required!</span>

            <label for="lastName" class="control-label">Last Name: </label>
            <input formControlName="lastName" id="lastName" class="form-control" type="text" maxlength="50" placeholder="Smith">
            <span *ngIf="isRequired('lastName')" class="help-block"> This field is required!</span>

            <label for="nickname" class="control-label">Nickname </label>
            <input formControlName="nickname" id="nickname" class="form-control" type="text" maxlength="50" placeholder="johnSmith">  
            <span *ngIf="isRequired('nickname')" class="help-block"> This field is required!</span>

            <label for="birthday" class="control-label">Birthday </label>
            <input formControlName="birthday" id="birthday" class="form-control" type="text" maxlength="50" placeholder="mm/dd/aaaa">                  
            <span *ngIf="isValid('birthday')" class="help-block"> Please enter a valid birthday!</span>

            <label for="mail" class="control-label">Email(login): </label>
            <input formControlName="email" id="email" class="form-control" type="text" maxlength="100" placeholder="john.smith@gmail.com">
            <span *ngIf="isValid('email')" class="help-block"> Please enter a valid email!</span>

            <label for="password" class="control-label">Password: </label>
            <input formControlName="password" id="password" class="form-control" type="password" maxlength="30" placeholder="**********">        
            <span *ngIf="isRequired('password')" class="help-block"> Please enter a password!</span>

            <label for="rePassword" class="control-label">Confirm password: </label>
            <input formControlName="rePassword" id="rePassword" class="form-control" type="password" maxlength="30" placeholder="***********">       
            <span *ngIf="isRequired('rePassword')" class="help-block"> Please re-enter your password!</span>

            <button type="submit" class="btn btn-primary">Send</button>
        </div>
      </form>
    </div>
  </div>