<div class="row">
    <div class="col">
      
      <!-- Page Title --> 
      <h2>Sign Up</h2>
  
      <!-- Main Form --> 
      <form>
        <div class="form-group">

            <label for="firstName" class="control-label">First Name: </label>
            <input id="firstName" class="form-control" type="text" maxlength="50" placeholder="John Enry">
            
            <label for="lastName" class="control-label">Last Name: </label>
            <input id="lastName" class="form-control" type="text" maxlength="50" placeholder="Smith">

            <label for="nickname" class="control-label">Nickname </label>
            <input id="nickname" class="form-control" type="text" maxlength="50" placeholder="johnSmith">  

            <label for="birthday" class="control-label">Birthday </label>
            <input id="birthday" class="form-control" type="text" maxlength="50" placeholder="mm/dd/aaaa">                  

            <label for="mail" class="control-label">Email(login): </label>
            <input id="email" class="form-control" type="text" maxlength="100" placeholder="john.smith@gmail.com">
  
            <label for="password" class="control-label">Password: </label>
            <input id="password" class="form-control" type="password" maxlength="30" placeholder="**********">        

            <label for="rePassword" class="control-label">Confirm password: </label>
            <input id="rePassword" class="form-control" type="password" maxlength="30" placeholder="***********">       
            
            <a class="btn btn-primary">Send</a>
        </div>
      </form>
    </div>
  </div>