<nav class="navbar navbar-default">
  <div class="container-fluid">
    
    <!-- Link fo Home -->
    <div routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="navbar-header">  
      <a [routerLink]="['/home']" class="navbar-brand">Forum</a>
    </div>
    
    <ul class="nav navbar-nav">

      <!-- Link to Questions' list -->
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a [routerLink]="['/forum/questions']">Questions</a>
      </li>

      
      <!-- It needs to check if the user is logged in or not -->
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a [routerLink]="['/forum/questions/question-create']">New Question</a>
      </li>

    </ul>

    <!-- Login area --> 
    <ul class="nav navbar-nav navbar-right" *ngIf="!authService.isAuthenticated()">
        <li><a routerLink="signup-auth"><span class="glyphicon glyphicon-user"> </span> Sign-Up</a></li>
        <li><a routerLink="signin-auth"><span class="glyphicon glyphicon-log-in"></span> Sign-In</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right" *ngIf="authService.isAuthenticated()">
        <li><a routerLink="home" (click)="authService.logout()"><span class="glyphicon glyphicon-user"> </span> Sign-Out</a></li>
    </ul>

    <!-- Search area -->
    <form [formGroup]="headerForm" class="navbar-form navbar-right" action="/action_page.php">
      <div class="form-group">
        <input formControlName="search" type="text" class="form-control" placeholder="Search">
      </div>
      <a [routerLink]="['/forum/questions']" class="btn btn-default">
          <i class="glyphicon glyphicon-search"></i>
      </a>
    </form>
  </div>
</nav>