<div class="row">
  <div class="col-sm-10">
      <h3>{{question.title}}</h3>
      <h6>by {{question.author}}   Created: {{question.createDate}}   *Last updated at {{question.lastUpdate}} </h6> 
  </div>
  
  <!--  It shall appears only to the question's owner when he is logged in -->
  <div class="col-sm-2">
      <a class="btn btn-primary btn-sm" 
          [routerLink]="['../edit']"> Edit</a>

      <a class="btn btn-danger btn-sm" 
          routerLink="/forum/questions"> Delete</a>
  </div>
</div>

<div class="row">
  <div class="col-sm-1">
    <img class="img-responsive" alt="Profile Picture" src="https://cdn1.iconfinder.com/data/icons/social-58/128/social_network_web_media_-32-128.png">
  </div>
  <div class="col-sm-11">
    <div class="form-group">
      <label for="questionText">Question:</label>
      <textarea class="form-control" readonly rows="5" id="questionText">{{question.content}}</textarea>
    </div>
  </div>
</div>

<HR>
<div class="row">
  <div class="col-sm-12">
    <p style="text-align:center">{{question.answers.length}} answers</p>
  </div>
</div>
<HR>

<!-- List of Answers -->
<div class="row">
  <div class="col-sm-12">
    
    <div *ngFor="let answer of question.answers" style="backgroud-color:blue">
      
        <div class="col-sm-1">
          <p>kjhkjh</p>
        </div>
        <div class="col-sm-2">
          <div class="row">
              <p>Vote Up</p>
          </div>
          <div class="row">
              <p>Vote Down</p>
          </div>
        </div>
        <div class="col-sm-9">
          <div class="row">
              <p>{{answer.content}}</p>
          </div>
          <div class="row">
              <p>{{answer.author}}   and   {{answer.createDate}}</p>
          </div>
        </div>
    </div>
  </div>
</div>

<div class="row" style="margin-bottom: 20px">
  <div class="col">
    <h4> Write your answer below:</h4>
    <textarea id="questionAnswer" style="width: 800px" rows="3" class="form-control"></textarea>
    <a class="btn btn-primary" style="margin-top:20px" (click)="saveAnswer()"> Save Answer</a>
  </div>
</div>



  <!--         <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-1">Foto</div>
            <div class="col-sm-6">
              <span>
                Since it's easy to miss, here's the exact location for the Bootstrap 3 documentation: getbootstrap.com/css/#helper-classes-floats
                – Lorenzo May 14 '16 at 1:21
              </span>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-1">Foto</div>
            <div class="col-sm-6">
              <span>
                Since it's easy to miss, here's the exact location for the Bootstrap 3 documentation: getbootstrap.com/css/#helper-classes-floats
                – Lorenzo May 14 '16 at 1:21
              </span>
            </div>
          </div>-->