<div class="container">
  <div class="row">
    <div class="col-sm-10">
        <h3> Here goes the title of the subject of the first Forum</h3>
        <h6> by Andrius Henrique    Created: 01 de January of 2018   *Last Comment at 02/01/1988 </h6> 
    </div>
  </div>
  <div class="row">
    <div class="col-sm-1">
      <img class="img-responsive" alt="Profile Picture" src="https://cdn1.iconfinder.com/data/icons/social-58/128/social_network_web_media_-32-128.png">
    </div>
    <div class="col-sm-9">
      <div class="form-group">
        <label for="questionText">Question:</label>
        <textarea class="form-control" rows="5" id="questionText"></textarea>
      </div>
    </div>
  </div>
</div>